
<ul class="myList">
    <li class="myListItem" style="padding:9.5px;">
        <a class="myListItem text-decoration-none " asp-controller="Admin" asp-action="ShowUsers">Show all users</a>
    </li>
</ul>